/* navbar styles */
nav {
  font-family: 'Ruda', sans-serif;
  background-color: #fff;
}
.nav-link {
  color: #086177;
}
.nav-item.active {
  color: #5FBCD3;
}

.contact-wrapper {
  background-image: url('../assets/pix/our-team/banner.JPG');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  min-height: 40vh;
}

.contact-form-wrapper {
  background-color: rgba(216, 215, 215, 0.28);
}
.bg-balika-lightblue {
  background-color: #5FBCD3;
}
label {
  color: #086177;
  font-weight: bold;
}

/* footer section */
.footer {
  font-family: 'Ruda', sans-serif;
}
.footer-link {
  color: #5FBCD3;
}
.social-icon {
  width: 30px;
  height: auto;
}
