/* navbar styles */
nav {
  font-family: 'Ruda', sans-serif;
  background-color: #fff;
}
.nav-link {
  color: #086177;
}
.nav-item.active {
  color: #5FBCD3;
}

.initiatives-wrapper {
  background-image: url('../../assets/pix/home/initiatives.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  min-height: 40vh;
}

.balika-blue {
  color: #086177;
}
.font-grey {
  color: #747171;
}
.font-lightgrey {
  color: #747373;
}
.learn-more-btn {
  color: #5FBCD3;
  border: 1px solid #5FBCD3;
  border-radius: 3px;
}

/* .hero-Img{ */
/*   position: relative; */
/*   height: 50vh; */
/*   overflow: hidden; */
/*   background: url(../../assets/pix/banner_3.JPG) no-repeat center; */
/*   background-size: cover; */
/* } */
/* .header-container{ */
/*   position: absolute; */
/*   top: 50%; */
/*   left: 50%; */
/*   overflow: hidden; */
/*   color: white; */  
/* } */

.space{
  height: 10vh;
}

/* footer section */
.footer {
  font-family: 'Ruda', sans-serif;
}
.footer-link {
  color: #5FBCD3;
}
.social-icon {
  width: 30px;
  height: auto;
}
  
