@media only screen and (max-width: 600px) {
  img.card-img {
    min-height: 0px;
  }
}

body {
  font-family: 'Roboto', sans-serif;
}

/* navbar styles */
nav {
  font-family: 'Ruda', sans-serif;
  background-color: #fff;
}
.nav-link {
  color: #086177;
}
.nav-item.active {
  color: #5FBCD3;
}

/* team banner */
.team-wrapper {
  background-image: url('../assets/pix/our-team/banner-2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  min-height: 40vh;
}
.balika-blue-text {
  color: #086177;
}
.card {
  border: 1px solid #AAA8A8;
  border-radius: 7px;
}
.card-img {
  min-height: 700px;
}

/* footer section */
.footer {
  font-family: 'Ruda', sans-serif;
  border-top: 1px solid #D9D9D9;
}
.footer-link {
  color: #5FBCD3;
}
.social-icon {
  width: 30px;
  height: auto;
}
