.hero-Img{
    position: relative;
    height: 50vh;
    overflow: hidden;
    background: url(../../assets/pix/banner_3.JPG) no-repeat center;
    background-size: cover;
}

.header-container{
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    color: white;  
}

.space{
    height: 10vh;
}



/* footer section */
.footer {
    font-family: 'Ruda', sans-serif;
  }
  .footer-link {
    color: #5FBCD3;
  }
  .social-icon {
    width: 30px;
    height: auto;
  }
  